*                                @LOCKhart07 @mohandast52
/.github/                        @LOCKhart07 @mohandast52
/frontend/package.json           @LOCKhart07 @mohandast52
/frontend/yarn.lock              @LOCKhart07 @mohandast52
/frontend/.npmrc                 @LOCKhart07 @mohandast52
/frontend/.nvmrc                 @LOCKhart07 @mohandast52
/frontend/next.config.*          @LOCKhart07 @mohandast52
/frontend/tsconfig.json          @LOCKhart07 @mohandast52
/SECURITY.md                     @LOCKhart07 @mohandast52
